- disabled ||= false
.parameter-definition-field
  .form-group.row.no-margin.no-gutter.small-margin-bottom
    .col-md-3
      = f.text_field :key, placeholder: "Name", disabled: disabled, class: 'form-control', data: tooltip_data(:simulator,:definition_of_parameters)
    .col-md-2
      = f.select :type, ParametersUtil::TYPES, {}, disabled: disabled, class: 'form-control'
    .col-md-3
      = f.text_field :default, placeholder: "Default value", class: 'form-control', data: tooltip_data(:simulator, :default_parameter)
    - unless disabled
      = link_to sanitize('<i class="fa fa-arrow-up fa-lg"/>'), '#', class: "up_fields"
    - unless disabled
      = link_to sanitize('<i class="fa fa-arrow-down fa-lg"/>'), '#', class: "down_fields"
  .form-group.row.no-margin.no-gutter
    .col-md-8
      = f.text_area :description, placeholder: "Description", rows: 3, class: 'form-control'
    - unless disabled
      = link_to sanitize('<i class="fa fa-trash-o fa-lg"/>'), '#', class: "remove_fields"
= f.hidden_field :_destroy
