%h3 About
= analyzer.description

%table.table.table-striped
  %thead
  %tbody
    %tr
      %th Type
      %td= analyzer.type
    %tr
      %th Auto-Run Flag
      %td= analyzer.auto_run
    %tr
      %th Parameter Input Type
      %td= analyzer.support_input_json ? "JSON" : "Arguments"
    %tr
      %th Files to Copy
      %td= raw( analyzer.files_to_copy.chomp.gsub("\n", '<br />') )
    %tr
      %th Support MPI
      %td= analyzer.support_mpi ? "Yes" : "No"
    %tr
      %th Support OMP
      %td= analyzer.support_omp ? "Yes" : "No"
    %tr
      %th Executable On
      %td= raw( analyzer.executable_on.map {|host| h(host.name) }.join('<br />') )
    %tr
      %th Host(Group) for Auto-Run
      %td= analyzer.auto_run_submitted_to.try(:name) || analyzer.auto_run_host_group.try(:name)

- if analyzer.parameter_definitions.present?
  %h3 Defined Parameters
  %table.table.table-striped
    %thead
      %tr
        %th.col-md-2
        %th.col-md-2 Type
        %th.col-md-2 Default
        %th.col-md-6 Description
    %tbody
      - analyzer.parameter_definitions.each do |pd|
        %tr
          %th= pd.key
          %td= pd.type
          %td= pd.default || '-'
          %td= pd.description ? pd.description : "-"

%h3 Commands
%ul
  %li
    Pre-process Script
    %br
    %pre
      = analyzer.pre_process_script
  %li
    Local Pre-process Script
    %br
    %pre
      = analyzer.local_pre_process_script
  %li
    Analyzer Command
    %br
    %pre
      = analyzer.command
  %li
    Print-version Command
    %br
    %pre
      = analyzer.print_version_command

%h3 List of Analyzer Versions
%table.table.table-striped#analyzer_version_table
  %thead
    %tr
      %th Version
      %th Oldest started_at
      %th Latest started_at
      %th= raw(status_label(:finished))
      %th= raw(status_label(:failed))
      %th CLI
  %tbody
    - analyzer.analyzer_versions.each do |anl_version|
      %tr
        %td= anl_version['version'] || "---"
        - d = anl_version['oldest_started_at']
        %td= d ? "#{d} (#{distance_to_now_in_words(d)})" : '---'
        - d = anl_version['latest_started_at']
        %td= d ? "#{d} (#{distance_to_now_in_words(d)})" : '---'
        %td= anl_version['count'][:finished].to_i
        %td= anl_version['count'][:failed].to_i
        %td
          %i.fa.fa-cog.clickable#show_cli{data: raw(render partial: "version_dialog", locals: {azr: analyzer, version: anl_version['version']})}

:css
  .modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }

#version_dialog_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
          CLI
      .modal-body.large#version_dialog
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  $("#analyzer_version_table #show_cli").on("click", function(){
    $('#version_dialog_modal').modal("show");
  });
  $("#version_dialog_modal").on('show.bs.modal', function (event) {
    $('#version_dialog').append($("#analyzer_version_table #show_cli").attr("data"));
  });
  $("#version_dialog_modal").on('hidden.bs.modal', function (event) {
    $('#version_dialog').empty();
  });

- unless OACIS_READ_ONLY
  = link_to 'Edit', edit_analyzer_path(analyzer), class: 'btn btn-info'
  = link_to 'Destroy', analyzer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'
= link_to 'Show in JSON', analyzer_path(analyzer, format: :json), class: 'btn btn-default'

