- path = analyzer.persisted? ? analyzer : [simulator, analyzer]
= form_for path, html: {class: 'form-horizontal'} do |f|
  = render partial: 'shared/error_messages', locals: {error_messages: analyzer.errors.full_messages}
  - has_child = analyzer.analyses.present?
  .form-group
    = f.label(:name, class: 'col-md-2 control-label')
    .col-md-3
      = f.text_field(:name, class: 'text_field form-control', disabled: has_child)
  .form-group
    = f.label(:type, class: 'col-md-2 control-label')
    .col-md-3
      = f.select(:type, ["on_run", "on_parameter_set"], {}, class: 'form-control', disabled: has_child)
  #parameters_form.form-group
    = label_tag('', 'Definition of Parameters', class: 'col-md-2 control-label')
    .col-md-10
      = f.fields_for :parameter_definitions do |builder|
        = render 'simulators/parameter_definition_fields', f: builder, disabled: has_child
      - unless has_child
        = link_to_add_fields "Add Parameter", f, :parameter_definitions, 'simulators/parameter_definition_fields'
  .form-group
    = f.label(:pre_process_script, class: ['col-md-2','control-label'])
    .col-md-6
      = f.text_area(:pre_process_script, rows: 3, class: 'form-control')
  .form-group
    = f.label(:command, class: 'col-md-2 control-label')
    .col-md-6
      = f.text_field(:command, class: 'form-control')
  .form-group
    = f.label(:print_version_command, class: 'col-md-2 control-label')
    .col-md-6
      = f.text_field(:print_version_command, class: 'form-control')
  .form-group
    = f.label(:support_input_json, "Input type", class: ['col-md-2','control-label'])
    .col-md-3
      = f.select(:support_input_json, {"Argument" => false, "JSON" => true}, {},{class: 'form-control'})
  .form-group
    = f.label(:support_mpi, class: ['col-md-2','control-label'])
    .col-md-2
      .checkbox
        %label
          = f.check_box(:support_mpi)
  .form-group
    = f.label(:support_omp, class: ['col-md-2','control-label'])
    .col-md-2
      .checkbox
        %label
          = f.check_box(:support_omp)
  .form-group
    = f.label(:auto_run, class: 'col-md-2 control-label')
    .col-md-3
      = f.select(:auto_run, [:no,:yes,:first_run_only], {}, id: "auto_run", class: 'form-control')
  .form-group
    = f.label(:description, class: 'col-md-2 control-label')
    .col-md-6
      = f.text_area(:description, rows: 5, class: 'form-control')
  .form-group
    %label.col-md-2.control-label
      Executable_on
    .col-md-10
      = hidden_field_tag "analyzer[executable_on_ids][]", nil
      - Host.all.each do |host|
        .checkbox
          %label{ for: dom_id(host) }
            = check_box_tag "analyzer[executable_on_ids][]", host.id.to_s, analyzer.executable_on_ids.include?(host.id), id: dom_id(host)
            = host.name
  .form-group
    = f.label(:auto_run_submitted_to, "Host for Auto Run", class: ['col-md-2','control-label'])
    .col-md-3
      - host_options = options_for_select( Host.all.map {|h| [h.name, h.id]}.push(["(manual submission)", '']) )
      = f.select(:auto_run_submitted_to, host_options, {}, {class: 'form-control'})
  .form-group
    .col-md-3.col-md-offset-2
      = f.submit(class: 'btn btn-primary')
      = link_to('Cancel', simulator_path(simulator, anchor: '!tab-about'), class: 'btn btn-default')

:javascript
  $(function() {
    $('select#analyzer_type').change(function() {
      var selected = $(this).val();
      var auto_run = $('select#analyzer_auto_run');
      if(selected == "on_run") {
        if( auto_run.children('[value=first_run_only]').size() == 0 ) {
          auto_run.append( $('<option>').val('first_run_only').text('first_run_only') );
        }
      }
      else if(selected == "on_parameter_set") {
        auto_run.children('[value=first_run_only]').remove();
      }
    });
    $('select#analyzer_type').trigger('change');
  });
