%h3 About
= simulator.description

%table.table.table-striped
  %thead
  %tbody
    %tr
      %th Parameter Input Type
      %td= simulator.support_input_json ? "JSON" : "Arguments"
    %tr
      %th Support MPI
      %td= simulator.support_mpi ? "Yes" : "No"
    %tr
      %th Support OMP
      %td= simulator.support_omp ? "Yes" : "No"
    %tr
      %th Executable On
      %td= raw( simulator.executable_on.map {|host| h(host.name) }.join('<br />') )
.form-actions
  = link_to 'Duplicate', duplicate_simulator_path(simulator), class: 'btn btn-primary'
  = link_to 'Edit', edit_simulator_path(simulator), class: 'btn btn-info'
  = link_to 'Destroy', simulator, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'

%h3 Defined Parameters
%table.table.table-striped
  %thead
    %tr
      %th.span2
      %th.span2 Type
      %th.span2 Default
      %th.span6 Description
  %tbody
    - simulator.parameter_definitions.each do |pd|
      %tr
        %th= pd.key
        %td= pd.type
        %td= pd.default || '-'
        %td= pd.description ? pd.description : "-"

%h3 Commands
%ul
  %li
    Pre-process Script
    %br
    %pre
      = simulator.pre_process_script
  %li
    Simulation Command
    %br
    %pre
      = simulator.command
