= render partial: "description", locals: {simulator: simulator}

- unless OACIS_READ_ONLY
  = link_to 'Duplicate', duplicate_simulator_path(simulator), class: 'btn btn-primary'
  = link_to 'Edit', edit_simulator_path(simulator), class: 'btn btn-info'
  = link_to 'Destroy', simulator, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'


%h3 About

%table.table.table-striped
  %thead
  %tbody
    %tr
      %th Parameter Input Type
      %td= simulator.support_input_json ? "JSON" : "Arguments"
    %tr
      %th Support MPI
      %td= simulator.support_mpi ? "Yes" : "No"
    %tr
      %th Support OMP
      %td= simulator.support_omp ? "Yes" : "No"
    %tr
      %th Executable On
      %td= raw( simulator.executable_on.map {|host| h(host.name) }.join('<br />') )

%h3 Defined Parameters
%table.table.table-striped
  %thead
    %tr
      %th.col-md-2
      %th.col-md-2 Type
      %th.col-md-2 Default
      %th.col-md-6 Description
  %tbody
    - simulator.parameter_definitions.each do |pd|
      %tr
        %th= pd.key
        %td= pd.type
        %td= pd.default.nil? ? '-' : pd.default
        %td= pd.description ? pd.description : "-"

%h3 Commands
%ul
  %li
    Pre-process Script
    %br
    %pre
      = simulator.pre_process_script
  %li
    Simulation Command
    %br
    %pre
      = simulator.command
  %li
    Print-version Command
    %br
    %pre
      = simulator.print_version_command

%h3 List of Simulator Versions
%table.table.table-striped#simulator_version_table
  %thead
    %tr
      %th Version
      %th Oldest started_at
      %th Latest started_at
      %th= raw(status_label(:finished))
      %th= raw(status_label(:failed))
      %th CLI
  %tbody
    - simulator.simulator_versions.each do |sim_version|
      %tr
        %td= sim_version['version'] || "---"
        - d = sim_version['oldest_started_at']
        %td= d ? "#{d} (#{distance_to_now_in_words(d)})" : '---'
        - d = sim_version['latest_started_at']
        %td= d ? "#{d} (#{distance_to_now_in_words(d)})" : '---'
        %td= sim_version['count'][:finished].to_i
        %td= sim_version['count'][:failed].to_i
        %td
          %i.fa.fa-cog.clickable#show_cli{data: raw(render partial: "version_dialog", locals: {sim: simulator, version: sim_version['version']})}

:css
  .modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }

#version_dialog_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
          CLI
      .modal-body.large#version_dialog
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  $("#simulator_version_table #show_cli").on("click", function(){
    $('#version_dialog_modal').modal("show");
  });
  $("#version_dialog_modal").on('show.bs.modal', function (event) {
    $('#version_dialog').append($("#simulator_version_table #show_cli").attr("data"));
  });
  $("#version_dialog_modal").on('hidden.bs.modal', function (event) {
    $('#version_dialog').empty();
  });

