%h3 List of Analyzers
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th.span1 ID
      %th Name
      %th Type
      %th Description
      %th{style: "min-width: 18px; width: 1%;"}
  %tbody
    - @analyzers.each do |azr|
      %tr
        %td= link_to( azr.id, analyzer_path(azr.id))
        %td= azr.name
        %td= azr.type
        %td= azr.description
        %td= link_to( raw('<i class="icon-trash">'), analyzer_path(azr.to_param), method: :delete, data: {confirm: 'Are you sure? Dependent analyses are also going to be destroyed.'})
.form-actions
  = link_to 'New Analyzer', new_simulator_analyzer_path(@simulator), class: 'btn btn-primary'
