- @filter_set_list.each_with_index do |obj, i|
  %tr
    %td
      = check_box 'filter_set_cb', "#{i}"
    %td
      = content_tag(:p, "#{obj.name}", :id => "filter_set_name_#{i}")
    %td
      = content_tag(:p, "#{obj.query.to_s}")
    %td
      = link_to(raw('<i class="fa fa-trash-o">'), 'javascript:void(0);', onclick: "delete_filter_set(#{i})", confirm: "Are you sure?")

