= form_for @simulator, html: {class: 'form-horizontal'} do |f|
  = render partial: 'shared/error_messages', locals: {error_messages: @simulator.errors.full_messages}
  .control-group
    = f.label(:name, class: 'control-label')
    .controls
      = f.text_field(:name, class: 'text_field')
  #parameters_form.control-group
    = label_tag('definitions[][name]', 'Definition of Parameters', class: 'control-label')
    #parameter_form_original
      .controls.controls-row
        = text_field_tag('definitions[][name]', "", placeholder: "Name")
        = select_tag('definitions[][type]', options_for_select(Simulator::ParameterTypes))
        = text_field_tag('definitions[][default]', "", placeholder: "Default value")
        %br
        = text_area_tag('definitions[][description]', "", placeholder: "Description", rows: 3)
    .controls#add_parameters_ctrl
      .btn#add_parameters_btn Add parameter
  .control-group
    = f.label(:command, class: 'control-label')
    .controls
      = f.text_field(:command)
  .control-group
    = f.label(:description, class: 'control-label')
    .controls
      = f.text_area(:description, rows: 5)
  .form-actions
    = f.submit(class: 'btn btn-primary')
    = link_to('Cancel', simulators_path, class: 'btn')

:javascript
  $(function() {
    $('#add_parameters_btn').click(function() {
      var cloned = $('#parameter_form_original').clone();
      $('#add_parameters_ctrl').before(cloned);
      $(cloned).removeAttr("id");
      $(cloned).find('input').val('');
    });
  });