%h3 List of Parameter Sets

.clear-element
.create_ps_area{id: "ps_being_created_#{@simulator.id}"}
  = render partial: 'save_ps_task_status', locals: {simulator: @simulator, offset_num_ps: 0, offset_num_runs: 0}
.clear-element
%table.table.table-condensed.table-striped#params_list{:'data-source' => "#{_parameter_sets_list_simulator_path(@simulator.to_param, format: "json", q: @q&.query.to_json)}"}
  %thead
    %tr
      - ParameterSetsListDatatable.header(@simulator).each do |th_element|
        = raw(th_element)
  %tbody

- unless OACIS_READ_ONLY
  %a.btn.btn-primary{href: new_simulator_parameter_set_path(@simulator)}
    New Parameter Set

- unless OACIS_READ_ONLY
  = render partial: 'create_runs_on_selected_modal', locals: {simulator: @simulator}


:javascript
  $(function() {
    var id = 'params';
    const objTable = create_parameter_sets_list('#params_list', 100);
    const objList = $("#tab-list-parameters");
    $("#tab-list-parameters").setIntervalCommon(id,objTable,objList);
  });

  $(function() {
    var cloned = $('#queries_form_original').html();
    $('#add_queries_form').click(function() {
      $('#add_queries_form').before( cloned );
      $('.row:last select', $(this).parent() ).trigger('change');
    });
  });

  $(function() {
    $("body").on("change", "#select_param_form select", function(){
      $("#select_matcher_form option",$(this).parent().parent()).remove()
      var matcher_form_selector = $("#select_matcher_form",$(this).parent().parent())
      var matcher_val;
      var matcher_text;
      if($(":selected",this).attr('type') == "Integer" || $(":selected",this).attr('type') == "Float") {
        matcher_val = #{raw ParameterSetQuery::NumTypeMatchers.to_json};
        matcher_text = #{raw ParameterSetQuery::NumTypeMatcherStrings.to_json};
      } else if($(":selected",this).attr('type') == "String") {
        matcher_val = #{raw ParameterSetQuery::StringTypeMatchers.to_json};
        matcher_text = #{raw ParameterSetQuery::StringTypeMatchers.to_json};
      }

      for(i in matcher_val){
        $("select",matcher_form_selector).append("<option value=\"\"></option>");
        $("option:nth-child("+(parseInt(i)+1)+")",matcher_form_selector).val(matcher_val[i]).text(matcher_text[i]);
      }

      var value_form_selector = $("#select_value_form",$(this).parent().parent())
    });
  });

  $(function() {
    var parameter_form_selector = $("#select_param_form select")
    parameter_form_selector.val("#{@simulator.parameter_definitions.first.key}");
    parameter_form_selector.trigger("change");
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  $(function () {
    $('#ps_check_all').prop('checked', false);
  });

