%h3.paramset_title_area_item List of Parameter Sets

- unless OACIS_READ_ONLY
  %a.btn.btn-primary.paramset_title_area_item{href: new_simulator_parameter_set_path(@simulator)}
    New Parameter Set

%button#parameter_filter_modal_btn.btn.paramset_title_area_item{remote: true, simulator_id: @simulator.id, filter_set_id: @filter_set_id, filter_set_name: @filter_set_name}
  Filtering
%span#parameter_filter_selected.paramset_title_area_item
  No filter selected.

#parameter_filter_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.paramset_title_area_item Parameter Filter
      .modal-body.large#parameter_filter_setting_body
        %button#parameter_new_filter_btn.paramset_title_area_item.btn.btn-primary
          New Filter
        = render "filters", simulator_id: @simulator.id, filter_set_id: @filter_set_id
      .modal-footer
        %button#parameter_filter_ok.btn.btn-primary{type: "button", "data-dismiss" => "modal"}
          OK 
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

#parameter_new_filter_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.paramset_title_area_item Filter
      .modal-body.large#parameter_new_filter_create_body
        .foo#queries_form_original
          = form_tag( _make_query_simulator_path(@simulator), class: 'form-horizontal' ) do |f|
            .row
              .form-group.col-md-3#select_param_form
                - prm_def = @simulator.parameter_definitions.map {|x| [x.key, {"type" => x.type, "default" => x.default}] }
                - prm_def = Hash[*prm_def.flatten]
                = select_tag "query[][param]", options_for_select(prm_def), class: 'form-control'
              .form-group.col-md-2#select_matcher_form
                = select_tag "query[][matcher]", options_for_select({""=>""}), class: 'form-control'
              .form-group.col-md-3#select_value_form
                = text_field_tag "query[][value]", "", class: 'form-control'
              .col-md-6
      .modal-footer
        %button#parameter_new_filter_ok.btn.btn-primary{type: "button", "data-dismiss" => "modal", onclick: "add_new_filter()"}
          OK 
        %button#parameter_new_filter_cancel.btn.btn-primary{type: "button", "data-dismiss" => "modal"}
          Close

#parameter_save_filter_set_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.paramset_title_area_item Save Filter Set
      .modal-body.large#parameter_new_filter_create_body
        %h4.paramset_title_area_item Name
        = text_field_tag "filter_set_name", "", class: 'form-control', id: "filter_set_name"
      .modal-footer
        %button#parameter_save_filter_set_ok.btn.btn-primary{type: "button", "data-dismiss" => "modal"}
          OK 
        %button#parameter_save_filter_set_cancel.btn.btn-primary{type: "button", "data-dismiss" => "modal"}
          Close

#parameter_load_filter_set_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.paramset_title_area_item Load Filter Set
      .modal-body.large#parameter_new_filter_create_body
        = render "filter_sets", simulator: @simulator
      .modal-footer
        %button#parameter_load_filter_set_ok.btn.btn-primary{type: "button", "data-dismiss" => "modal", onclick: "parameter_load_filter_set_ok_click()"}
          OK 
        %button#parameter_load_filter_set_cancel.btn.btn-primary{type: "button", "data-dismiss" => "modal"}
          Close

- if @query_list
  %h4 Select Filter
  = form_for(@simulator, url: {controller:"simulators", action:"show"}, html: {method: :get, class: 'form-inline'} ) do |f|
    .form-group
      = select_tag "query_id", options_for_select(@query_list, @query_id), prompt: "all", class: 'form-control'
    = f.submit "Load", class: 'btn btn-primary', name: nil

- unless @query_id.blank?
  %h4 Delete Filter
  = form_tag( _make_query_simulator_path(@simulator) ) do |f|
    = hidden_field_tag "query_id", @query_id
    = submit_tag "Delete this Filter", :class => 'btn btn-primary', :name => :delete_query, :confirm => 'Are you sure?'


%table.table.table-condensed.table-striped#params_list{:'data-source' => "#{_parameters_list_simulator_path(@simulator.to_param, format: "json", query_id: @query_id)}"}
  %thead
    %tr
      - ParameterSetsListDatatable.header(@simulator).each do |th_element|
        = raw(th_element)
  %tbody



#runs_list_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
      .modal-body.large#runs_list_modal_page
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  $(function() {
    var cloned = $('#queries_form_original').html();
    $('#add_queries_form').click(function() {
      $('#add_queries_form').before( cloned );
      $('.row:last select', $(this).parent() ).trigger('change');
    });
  });

  $(function() {
    $("body").on("change", "#select_param_form select", function(){
      $("#select_matcher_form option",$(this).parent().parent()).remove()
      var matcher_form_selector = $("#select_matcher_form",$(this).parent().parent())
      var matcher_val;
      var matcher_text;
      if($(":selected",this).attr('type') == "Integer" || $(":selected",this).attr('type') == "Float") {
        matcher_val = #{raw ParameterSetQuery::NumTypeMatchers.to_json};
        matcher_text = #{raw ParameterSetQuery::NumTypeMatcherStrings.to_json};
      } else if($(":selected",this).attr('type') == "Boolean") {
        matcher_val = #{raw ParameterSetQuery::BooleanTypeMatchers.to_json};
        matcher_text = #{raw ParameterSetQuery::BooleanTypeMatchers.to_json};
      } else if($(":selected",this).attr('type') == "String") {
        matcher_val = #{raw ParameterSetQuery::StringTypeMatchers.to_json};
        matcher_text = #{raw ParameterSetQuery::StringTypeMatchers.to_json};
      }

      for(i in matcher_val){
        $("select",matcher_form_selector).append("<option value=\"\"></option>");
        $("option:nth-child("+(parseInt(i)+1)+")",matcher_form_selector).val(matcher_val[i]).text(matcher_text[i]);
      }

      var value_form_selector = $("#select_value_form",$(this).parent().parent())
    });
  });

  $(function() {
    var parameter_form_selector = $("#select_param_form select")
    parameter_form_selector.val("#{@simulator.parameter_definitions.first.key}");
    parameter_form_selector.trigger("change");
  });

:javascript
  $(function() {
    var oPsTable = create_parameter_sets_list('#params_list', 100);
    if( window.bEnableAutoReload ) {
      setInterval( function() {
        if( $("#tab-list-parameters").length > 0 ) { // ParameterSet tab in Simulator show page
          if( $("#tab-list-parameters")[0].classList.contains("active") ) {
            oPsTable.ajax.reload(null, false);
          }
        }
      }, 5000);
    }
  });
