%fieldset.controls-row
  - disabled ||= false
  = f.text_field :key, placeholder: "Name", disabled: disabled
  = f.select :type, ParametersUtil::TYPES, {}, disabled: disabled
  = f.text_field :default, placeholder: "Default value"
  %br
  = f.text_area :description, placeholder: "Description", rows: 3
  = f.hidden_field :_destroy
  - unless disabled
    = link_to "remove", '#', class: "remove_fields"
