- disabled ||= false
.parameter-definition-field
  .form-group.row.no-margin.no-gutter.small-margin-bottom
    .col-md-3
      = f.text_field :key, placeholder: "Name", disabled: disabled, class: 'form-control'
    .col-md-2
      = f.select :type, ParametersUtil::TYPES, {}, disabled: disabled, class: 'form-control'
    .col-md-3
      = f.text_field :default, placeholder: "Default value", class: 'form-control'
  .form-group.row.no-margin.no-gutter
    .col-md-8
      = f.text_area :description, placeholder: "Description", rows: 3, class: 'form-control'
      = f.hidden_field :_destroy
    - unless disabled
      = link_to "remove", '#', class: "remove_fields"
