- disabled ||= false
.parameter-definition-field
  .form-inline
    .form-group
      .col-lg-2
        = f.text_field :key, placeholder: "Name", disabled: disabled, class: 'form-control'
    .form-group
      .col-lg-1
        = f.select :type, ParametersUtil::TYPES, {}, disabled: disabled, class: 'form-control'
    .form-group
      .col-lg-2
        = f.text_field :default, placeholder: "Default value", class: 'form-control'
  .form-group
    .col-lg-2
      = f.text_area :description, placeholder: "Description", rows: 3, class: 'form-control'
      = f.hidden_field :_destroy
    - unless disabled
      = link_to "remove", '#', class: "remove_fields"
