%h3 CLI commands for #{sim.name}

%h3 Destroy runs

%ul
  %li
    simulator_version:#{version}
    %br
    %pre ./bin/oacis_cli destroy_runs -s #{sim.id} -q simulator_version:#{version}
  %li
    simulator_version:#{version}, status:
    %span.label.label-success.status-label
      finished
    %br
    %pre ./bin/oacis_cli destroy_runs -s #{sim.id} -q simulator_version:#{version} status:finished
  %li
    simulator_version:#{version}, status:
    %span.label.label-danger.status-label
      failed
    %br
    %pre ./bin/oacis_cli destroy_runs -s #{sim.id} -q simulator_version:#{version} status:failed

%h3 Replace runs

%ul
  %li
    simulator_version:#{version}
    %br
    %pre ./bin/oacis_cli replace_runs -s #{sim.id} -q simulator_version:#{version}
  %li
    simulator_version:#{version}, status:
    %span.label.label-success.status-label
      finished
    %br
    %pre ./bin/oacis_cli replace_runs -s #{sim.id} -q simulator_version:#{version} status:finished
  %li
    simulator_version:#{version}, status:
    %span.label.label-danger.status-label
      failed
    %br
    %pre ./bin/oacis_cli replace_runs -s #{sim.id} -q simulator_version:#{version} status:failed
