- model_class = Simulator
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      / %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      / %th Parameters
      / %th= model_class.human_attribute_name(:execution_command)
      / %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @simulators.each do |simulator|
      %tr
        / %td= simulator._id
        %td= link_to simulator.name, simulator_path(simulator)
        / %td= simulator.parameter_keys.keys.join(',')
        / %td= simulator.execution_command
        / %td=l simulator.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_simulator_path(simulator), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), simulator_path(simulator), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_simulator_path, :class => 'btn btn-primary'
