%ul.breadcrumb.well
  %li
    = link_to("Simulators", simulators_path)
    %span.divider /
  %li
    = @simulator.name

- model_class = Simulator
.page-header
  %h1=t '.title', :default => @simulator.name

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-list-parameters", "data-toggle" => "tab"} Parameter Sets
    %li
      %a{"href"=>"#tab-analyzers", "data-toggle" => "tab"} Analyzers

  %div.tab-content
    %div.tab-pane#tab-about
      %h3 About
      = @simulator.description
      %h3 Owner
      %ul
        %li example user1
        %li example user2
        %li (list of owners will come to here...)
      %h3 Defined Parameters
      %table.table.table-striped
        %thead
          %tr
            %th.span2
            %th.span2 Type
            %th.span2 Default
            %th.span6 Description
        %tbody
          - @simulator.parameter_definitions.each do |key,val|
            %tr
              %th= h(key)
              %td= h(val["type"])
              %td= h(val["default"] || '-')
              %td= val["description"] ? h(val["description"]) : h("Explanation of parameter #{key}")

      %h3 Simulator Path
      %pre
        = h(@simulator.execution_command)
    %div.tab-pane.active#tab-list-parameters
      %h3 List of Parameter Sets
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th.span1 ID
            - @simulator.parameter_definitions.each do |key,key_def|
              %th.span1= key
        %tbody
        - @param_sets.each_with_index do |param_set,idx|
          %tr
            %td= link_to( param_set.id, parameter_set_path(param_set) )
            - @simulator.parameter_definitions.each do |key,key_def|
              %td= param_set.v[key]
      = paginate @param_sets
    %div.tab-pane#tab-analyzers
      %h3 List of Analyzers
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th.span1 ID
            %th Name
            %th Description
            - @analyzers.each do |azr|
              %tr
                %td= azr.id # link_to( azr.id, simulator_analyzer_path(@simulator.id, azr.id))
                %td= azr.name
                %td= azr.description

