= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@simulator)}

- model_class = Simulator
.page-header
  %h1=t '.title', :default => @simulator.name

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-list-parameters", "data-toggle" => "tab"} Parameter Sets
    %li
      %a{"href"=>"#tab-progress", "data-toggle" => "tab"} Progress

  %div.tab-content
    %div.tab-pane#tab-about
      = render partial: "about", locals: {simulator: @simulator}
      = render "analyzers_list"
    %div.tab-pane.active#tab-list-parameters
      = render "parameter_sets_list"
    %div.tab-pane#tab-progress
      = render "progress"
