- model_class = Simulator
.page-header
  %h1=t '.title', :default => @simulator.name

%p
  %strong= model_class.human_attribute_name(:parameter_keys) + ':'
  %br
  %table.table.table-condensed
    %tr
      %th Key
      %th Type
    - @simulator.parameter_keys.each do |key,val|
      %tr
        %td= h(key)
        %td= h(val["type"])
%p
  %strong= model_class.human_attribute_name(:execution_command) + ':'
  %br
  = @simulator.execution_command

%h3 Parameters
%table.table.table-condensed
  %tr
    %th ID
    - @simulator.parameter_keys.each do |key,key_def|
      %th= key
  - @simulator.parameters.each do |parameter|
    %tr
      %td= link_to(parameter.to_param, simulator_parameter_path(@simulator,parameter))
      - @simulator.parameter_keys.each do |key,key_def|
        %td= parameter.sim_parameters[key]

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), simulators_path, :class => 'btn'
