%table.table.table-striped.table-condensed
  %thead
  %tbody
    %tr
      %th Name
      %td= @host.name
    %tr
      %th Polling
      %td
        = raw(host_status_label(@host.status))
        - if OACIS_ACCESS_LEVEL == 2
          %a{href: _toggle_status_host_path(@host)}
            %i.fa.fa-power-off.padding-left-half-em{data: {toggle: 'tooltip', 'original-title': 'suspend/restart polling', placement: 'bottom'}}
    %tr
      %th Work base directory
      %td= @host.work_base_dir
    %tr
      %th Mounted work base directory
      %td= @host.mounted_work_base_dir
    %tr
      %th Maximum number of jobs
      %td= @host.max_num_jobs
    %tr
      %th Polling interval
      %td= @host.polling_interval
    %tr
      %th MPI procs
      %td
        - if @host.min_mpi_procs == @host.max_mpi_procs
          = @host.min_mpi_procs
        - else
          = "#{@host.min_mpi_procs} ~ #{@host.max_mpi_procs}"
    %tr
      %th OMP threads
      %td
        - if @host.min_omp_threads == @host.max_omp_threads
          = @host.min_omp_threads
        - else
          = "#{@host.min_omp_threads} ~ #{@host.max_omp_threads}"
    %tr
      %th Host Parameters
      %td
        %table.table.table-striped
          %thead
            %th Name
            %th Default
            %th Format/Options
          %tbody
            - @host.host_parameter_definitions.each do |host_prm|
              %tr
                %td= host_prm.key
                %td= host_prm.default
                %td
                  - if host_prm.options.present?
                    = host_prm.options
                  - else
                    = host_prm.format


    %tr
      %th Executable simulators
      %td= raw( @host.executable_simulators.map {|sim| h(sim.name) }.join('<br />') )
    %tr
      %th Executable analyzers
      %td= raw( @host.executable_analyzers.map {|azr| h("#{azr.simulator.name} / #{azr.name}") }.join('<br />') )

- if OACIS_ACCESS_LEVEL == 2
  = link_to 'Edit', edit_host_path(@host), class: 'btn btn-info'
  = link_to 'Back to Index', hosts_path, class: 'btn btn-default'
  = link_to 'Delete', @host, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' if @host.destroyable?
