= form_for @host do |f|
  - if @host.errors.any?
    #error_explanation
      %h2= "#{pluralize(@host.errors.count, "error")} prohibited this host from being saved:"
      %ul
        - @host.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :hostname
    = f.text_field :hostname
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :port
    = f.number_field :port
  .field
    = f.label :ssh_key
    = f.text_field :ssh_key
  .field
    = f.label :show_status_command
    = f.text_field :show_status_command
  .field
    = f.label :submission_command
    = f.text_field :submission_command
  .field
    = f.label :work_base_dir
    = f.text_field :work_base_dir
  .field
    = f.label :simulator_base_dir
    = f.text_field :simulator_base_dir
  .actions
    = f.submit 'Save'
