%fieldset.controls-row
  = f.text_field :key, placeholder: "Name"
  = f.text_field :default, placeholder: "Default value"
  = f.text_field :format, placeholder: "Format"
  = f.hidden_field :_destroy
  = link_to "remove", '#', class: "remove_fields"
