%h3 Job Status

%table.table.table-striped{style: "table-layout: fixed;"}
  %thead
    %tr
      %th Total
      %th
        = raw(status_label(:finished))
      %th
        = raw(status_label(:failed))
      %th
        = raw(status_label(:running))
      %th
        = raw(status_label(:submitted))
      %th
        = raw(status_label(:created))
  %tbody
    %tr
      - stat_count = @host.runs_status_count
      - total = stat_count.values.inject(:+)
      %th= total
      %td= "#{stat_count[:finished]} (#{(100.0*stat_count[:finished]/total.to_f).round(1)} %)"
      %td= "#{stat_count[:failed]} (#{(100.0*stat_count[:failed]/total.to_f).round(1)} %)"
      %td= "#{stat_count[:running]} (#{(100.0*stat_count[:running]/total.to_f).round(1)} %)"
      %td= "#{stat_count[:submitted]} (#{(100.0*stat_count[:submitted]/total.to_f).round(1)} %)"
      %td= "#{stat_count[:created]} (#{(100.0*stat_count[:created]/total.to_f).round(1)} %)"

- if OACIS_ACCESS_LEVEL >= 1
  %h3 Scheduler status
  %a.btn.btn-info#btn_check_scheduler_status
    Check Scheduler Status
    %i.fa.fa-refresh#runs_list_refresh
  %pre#scheduler_status{style: "margin-top: 10px;"}
  :javascript
    $(function() {
      $('#btn_check_scheduler_status').on('click', function() {
        var url = "#{_check_scheduler_status_host_url(@host)}";
        $.get(url, {}, function(dat) {
          $('#scheduler_status').text(dat);
        })
      })
    })
