.page-header
  %h1 Hosts

%table.table.table-striped
  %tr
    %th Name
    %th Hostname
    %th User
    %th Port
    %th Ssh key
    %th Scheduler type
    %th Work base dir
    %th Max number of jobs
    %th

  - @hosts.each do |host|
    %tr
      %td= link_to(host.name, host)
      %td= host.hostname
      %td= host.user
      %td= host.port
      %td= host.ssh_key
      %td= host.scheduler_type
      %td= host.work_base_dir
      %td= host.max_num_jobs
      %td
        = link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-warning'

.form-actions
  %a.btn.btn-primary{href: new_host_path} New Host

