.page-header
  %h1 Hosts

%table.table.table-striped
  %tr
    %th Name
    %th Hostname
    %th User
    %th Port
    %th Ssh key
    %th Show status command
    %th Submission command
    %th Work base dir
    %th Simulator base dir
    %th

  - @hosts.each do |host|
    %tr
      %td= link_to(host.name, host)
      %td= host.hostname
      %td= host.user
      %td= host.port
      %td= host.ssh_key
      %td= host.show_status_command
      %td= host.submission_command
      %td= host.work_base_dir
      %td= host.simulator_base_dir
      %td
        = link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-warning'

%br

%a.btn.btn-primary{href: new_host_path} New Host

