- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.email
= will_paginate @users
