%h3 About
= executable.description

- if executable.is_a?(Simulator)
  %table.table.table-striped
    %thead
    %tbody
      %tr
        %th Parameter Input Type
        %td= executable.support_input_json ? "JSON" : "ARGUMENTS"
      %tr
        %th Executable On
        %td= raw( executable.executable_on.map {|host| h(host.name) }.join('<br />') )
  .form-actions
    = link_to 'Destroy', executable, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'

%h3 Defined Parameters
%table.table.table-striped
  %thead
    %tr
      %th.span2
      %th.span2 Type
      %th.span2 Default
      %th.span6 Description
  %tbody
    - executable.parameter_definitions.each do |pd|
      %tr
        %th= pd.key
        %td= pd.type
        %td= pd.default || '-'
        %td= pd.description ? pd.description : "-"

%h3 Command
%pre
  = h(executable.command)
