%h3 List of Analyses
%table.table.table-condensed.analyses_list
  %thead
    %tr
      %th{width: "18px"}
      %th ID
      %th analyzer
      %th parameters
      %th status
      %th created_at
  %tbody
    - analyses.each do |anl|
      %tr
        %td= image_tag("/assets/expand.png", analysis_id: anl.id.to_s, align: "center", state: "close")
        %td= link_to(anl.id, analysis_path(anl))
        - azr = anl.analyzer
        %td= link_to(azr.name, simulator_analyzer_path(azr.simulator, azr))
        %td= anl.parameters.empty? ? '-' : anl.parameters.inspect
        %td= raw(status_label(anl.status))
        %td= anl.created_at

:javascript
  $(expand_collapse_analyses_list)
