- title ||= "Results"
%h3= title
- if result.nil?
- elsif result.is_a?(Hash)
  %table.table.table-condensed
    %thead
    %tbody
      - result.each do |key,val|
        %tr
          %th= h(key)
          %td
            - if val.is_a?(Hash) or val.is_a?(Array)
              %pre= h(JSON.pretty_generate(val))
            - else
              = h(val)
- elsif result.is_a?(Array)
  %pre= h(JSON.pretty_generate(result))
- else
  %pre= h(result.inspect)

%ul
  - result_paths.sort.each do |file_path|
    - file_path_str = file_path.to_s
    %li
      %a{:href => file_path_to_link_path(file_path_str)}
        = File.basename(file_path_str)
        %br
        - if file_path_str =~ /\.png$/i or file_path_str.to_s =~ /\.jpg$/i
          = image_tag(file_path_to_link_path(file_path_str), :width => '200px')

