.page-header
  %h1 Analyses

%h3 Running Analyses
%table.table.table-condensed.table-hover.table-striped.analyses_datatable.has_analysis_modal{:'data-source' => "#{_analyses_table_analyses_path(format: "json", analysis_status: "running")}"}
  %thead
    %tr
      - AnalysesListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

%hr
%h3 Submitted Analyses
%table.table.table-condensed.table-hover.table-striped.analyses_datatable.has_analysis_modal{:'data-source' => "#{_analyses_table_analyses_path(format: "json", analysis_status: "submitted")}"}
  %thead
    %tr
      - AnalysesListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

%hr
%h3 Created Analyses
%table.table.table-condensed.table-hover.table-striped.analyses_datatable.has_analysis_modal{:'data-source' => "#{_analyses_table_analyses_path(format: "json", analysis_status: "created")}"}
  %thead
    %tr
      - AnalysesListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

#analyses_list_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
      .modal-body.large#analyses_list_modal_page
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}

:javascript
  $(function() {
    var aoAnalysesTables = []
    $('.analyses_datatable').each( function() {
      var source = $(this).attr("data-source");
      var oTable = $(this).DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        ajax: source
      });
      aoAnalysesTables.push(oTable);
    });
    function reload_analyses_table() {
      aoAnalysesTables.forEach( function(oTable) {
        oTable.ajax.reload(null, false);
      });
    }
     var setNum = 0;
    $('.dataTables_length').each( function() {
      $(this).append(
        '<i class="fa fa-refresh padding-half-em auto_reload_setting clickable" id="analyses_list_refresh"></i>' +
        '<div class="auto_reload_setting">' +
        '<label class="form-check-label">auto reload<input type="checkbox" class="form-check-input" name="check" id= "'+setNum+'_analyses_list_refresh_cb" /></label>' +
        '<label for="analyses_list_refresh_tb"><input type="text" pattern="^[0-9]*$" class="form-control form-control-sm" id= "'+setNum+'_analyses_list_refresh_tb" size="10"/>sec</label>' +
        '</div>'
      );
      setNum++;
      $(this).children('#analyses_list_refresh').on('click', reload_analyses_table);
    });

    var id_0  = "0_analyses";
    var id_1  = "1_analyses";
    var id_2  = "2_analyses";
    const objList = $('.analyses_datatable');
    $('#DataTables_Table_0').setIntervalCommon(id_0,aoAnalysesTables[0],objList);
    $('#DataTables_Table_1').setIntervalCommon(id_1,aoAnalysesTables[1],objList);
    $('#DataTables_Table_2').setIntervalCommon(id_2,aoAnalysesTables[2],objList);

    $('[id=' + id_0 + '_list_refresh_cb]').on('change', function() {
        if($('[id=' + id_0 + '_list_refresh_cb]').is(':checked')){
          $('input[name=check]').prop('checked', this.checked);
        }else{
          $('input[name=check]').prop('checked', this.checked);
          $('[id=' + id_1 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_2 + '_list_refresh_cb]').trigger('reload_off');
        }
    });
    $('[id=' + id_1 + '_list_refresh_cb]').on('change', function() {
       if($('[id=' + id_1 + '_list_refresh_cb]').is(':checked')){
       $('input[name=check]').prop('checked', this.checked);
       }else{
          $('input[name=check]').prop('checked', this.checked);
          $('[id=' + id_0 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_2 + '_list_refresh_cb]').trigger('reload_off');
       }
    });
    $('[id=' + id_2 + '_list_refresh_cb]').on('change', function() {
       if($('[id=' + id_2 + '_list_refresh_cb]').is(':checked')){
       $('input[name=check]').prop('checked', this.checked);
       }else{
          $('input[name=check]').prop('checked', this.checked);
          $('[id=' + id_0 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_1 + '_list_refresh_cb]').trigger('reload_off');
       }
    });

    $('[id=' + id_0 + '_list_refresh_tb]').on('blur', function() {
          $('[id=' + id_1 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_2 + '_list_refresh_cb]').trigger('reload_off');
    });
    $('[id=' + id_1 + '_list_refresh_tb]').on('blur', function() {
          $('[id=' + id_0 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_2 + '_list_refresh_cb]').trigger('reload_off');
    });
    $('[id=' + id_2 + '_list_refresh_tb]').on('blur', function() {
          $('[id=' + id_0 + '_list_refresh_cb]').trigger('reload_off');
          $('[id=' + id_1 + '_list_refresh_cb]').trigger('reload_off');
    });
  });
