= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@analysis)}

= render partial: "attributes"

%h3 Directory
%pre= @analysis.dir

%hr
- unless @analysis.parameters.empty?
  = render partial: "shared/parameters_table", locals: {parameters_hash: @analysis.parameters}

%hr
= render partial: "shared/results", locals: {result: @analysis.result, result_paths: @analysis.result_paths, archived_result_path: @analysis.archived_result_path}

%h3 Script
%pre~ @analysis.job_script

= link_to 'Show in JSON', analysis_path(@analysis, format: :json), class: 'btn btn-default'
