%table.table.table-condensed.table-striped
  %thead
  %tbody
    %tr
      %th ID
      %td= @run.to_param
    %tr
      %th status
      %td= raw(status_label(@run.status))
    %tr
      %th seed
      %td= @run.seed
    %tr
      %th host
      - host = @run.submitted_to
      %td= (host ? link_to(host.name,host_path(host)) : "-")
    %tr
      %th host group
      - hg = @run.host_group
      %td= (hg ? link_to( hg.name, host_group_path(hg) ) : "-")
    %tr
      %th job_id
      %td= @run.job_id
    - if @run.simulator.support_mpi
      %tr
        %th MPI processes
        %td= @run.mpi_procs ? @run.mpi_procs : "-"
    - if @run.simulator.support_omp
      %tr
        %th OMP threads
        %td= @run.omp_threads ? @run.omp_threads : "-"
    %tr
      %th Host parameters
      %td
        - if @run.host_parameters.present?
          %pre= @run.host_parameters.to_json
    %tr
      %th priority
      %td= Submittable::PRIORITY_ORDER[@run.priority]
    %tr
      %th hostname
      %td= @run.hostname
    %tr
      %th CPU time
      %td= formatted_elapsed_time(@run.cpu_time)
    %tr
      %th real time
      %td= formatted_elapsed_time(@run.real_time)
    %tr
      %th simulator version
      %td= @run.simulator_version
    %tr
      %th created at
      %td= @run.created_at.to_time
    %tr
      %th submitted at
      %td= @run.submitted_at.to_time
    %tr
      %th started at
      %td= @run.started_at.to_time
    %tr
      %th finished at
      %td= @run.finished_at.to_time
    %tr
      %th included at
      %td= @run.included_at.to_time
    %tr
      %th updated at
      %td= @run.updated_at.to_time

%h3 Directory
%pre= @run.dir

- if @run.error_messages
  %h3 Error messages
  %pre~ @run.error_messages

- if @run.submitted_to
  %h3 Script
  %pre.pre-scrollable~ @run.job_script

= link_to 'Show in JSON', run_path(@run, format: :json), class: 'btn btn-default'
