= render partial: 'shared/analyses', locals: {analyses: @analyses}

- if @run.status == :finished
  %h3 Run analysis
  - @sim = @param_set.simulator
  - unless @sim.analyzers_on_run.empty?
    = form_for( @run.analyses.build, :url => run_analyses_path(@run) ) do |f|
      = f.label :analyzer
      = f.select :analyzer, @sim.analyzers_on_run.map { |x| [x.name, x.to_param] }
      %div#parameters_form
        = render 'shared/parameters_form', param_def: @sim.analyzers_on_run.first.parameter_definitions
      .form-actions
        = f.submit "Analyze", :class => 'btn btn-primary'

  :javascript
    $(function() {
      $('#analysis_analyzer').change(function(){
        $.get("#{_parameters_form_analyzer_path(':analyzer_id')}".replace(':analyzer_id',$(this).val()), function(data) {
          $('#parameters_form').html(data)
        });
      });
    });
