= render partial: 'shared/analyses', locals: {run: run}

- if @run.status == :finished or @run.status == :failed
  - @sim = @param_set.simulator
  - unless @sim.analyzers_on_run.empty? or OACIS_READ_ONLY
    %h3 Run analysis
    = form_for( @run.analyses.build, :url => run_analyses_path(@run), remote: true ) do |f|
      = f.label :analyzer
      = f.select :analyzer, @sim.analyzers_on_run.map { |x| [x.name, x.to_param] }
      %div#parameters_form
        = render 'shared/parameters_form', param_def: @sim.analyzers_on_run.first.parameter_definitions
      .form-actions
        = f.submit "Analyze", :class => 'btn btn-primary'

  :javascript
    $(function() {
      var show_analysis_parameter_form = function() {
        $.get("#{_parameters_form_analyzer_path(':analyzer_id')}".replace(':analyzer_id',$('#analysis_analyzer').val()), function(data) {
          $('#parameters_form').html(data)
        });
      }
      $('#analysis_analyzer').change(show_analysis_parameter_form);
      show_analysis_parameter_form();
    });
