- if run.parameter_set.simulator.support_mpi
  .control-group
    = f.label(:mpi_procs, "MPI procs", class: 'control-label')
    .controls
      = f.text_field(:mpi_procs)
- if run.parameter_set.simulator.support_omp
  .control-group
    = f.label(:omp_threads, "OMP threads", class: 'control-label')
    .controls
      = f.text_field(:omp_threads)
.control-group
  = f.label(:submitted_to, class: 'control-label')
  .controls
    - host_names = run.submittable_hosts_and_variables.keys.map {|h| [h.name, h.id.to_s]}
    - selected_id = run.submitted_to ? run.submitted_to.id.to_s : nil
    = f.select(:submitted_to, options_for_select(host_names, selected: selected_id) )
- run.submittable_hosts_and_variables.each do |host, variables|
  %div{ id: "host_parameters_#{host.id}"}
    - variables.each do |var|
      .control-group
        = label_tag(:"run[host_parameters][#{var}]", var, class: 'control-label')
        .controls
          = text_field_tag(:"run[host_parameters][#{var}]", run.host_parameters[var])

:javascript
  $(function() {
    $('select#run_submitted_to').change(function() {
      $('div[id^=host_parameters]').hide("normal");
      var host_id = $("select#run_submitted_to option:selected").val();
      var selected = $('div#host_parameters_' + host_id);
      selected.show("normal");
    });
    $('select#run_submitted_to').trigger('change');
  });
