- if host
  - host.host_parameter_definitions.each do |hpdef|
    .control-group
      = label_tag(:"run[host_parameters][#{hpdef.key}]", hpdef.key, class: 'control-label')
      .controls
        - value = (defined?(run) && run.host_parameters[hpdef.key]) || hpdef.default
        = text_field_tag(:"run[host_parameters][#{hpdef.key}]", value, id: "run_host_parameters_#{hpdef.key}_#{host.id}")
        = "Format: /#{hpdef.format}/"
