.page-header
  %h1 Jobs

%h3 Running Jobs
%table.table.table-condensed.table-hover.table-striped.jobs_datatable{:'data-source' => "#{_jobs_table_runs_path(format: "json", run_status: "running")}"}
  %thead
    %tr
      - RunsListDatatable.header(true).each do |header|
        = raw(header)
  %tbody

%hr
%h3 Submitted Jobs
%table.table.table-condensed.table-hover.table-striped.jobs_datatable{:'data-source' => "#{_jobs_table_runs_path(format: "json", run_status: "submitted")}"}
  %thead
    %tr
      - RunsListDatatable.header(true).each do |header|
        = raw(header)
  %tbody

%hr
%h3 Created Jobs
%table.table.table-condensed.table-hover.table-striped.jobs_datatable{:'data-source' => "#{_jobs_table_runs_path(format: "json", run_status: "created")}"}
  %thead
    %tr
      - RunsListDatatable.header(true).each do |header|
        = raw(header)
  %tbody

:javascript
  $(function() {
    var aoRunsTables = []
    $('.jobs_datatable').each( function() {
      var source = $(this).attr("data-source");
      var oTable = $(this).DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        ajax: source
      });
      aoRunsTables.push(oTable);
    });
    function reload_runs_table() {
      aoRunsTables.forEach( function(oTable) {
        oTable.ajax.reload(null, false);
      });
    }
    setInterval( function() {
      if(window.bEnableAutoReload) {
        reload_runs_table();
      }
    }, 5000 );
    $('.dataTables_length').each( function() {
      $(this).append(
        '<i class="fa fa-refresh padding-half-em clickable" id="runs_list_refresh"></i>'
      );
      $(this).children('#runs_list_refresh').on('click', reload_runs_table);
    });
  });
