= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@run)}

.page-header
  - param_string = @run.parameter_set.v.map {|key,val| "#{key}=#{val}" }.join(', ')
  %h1
    Run
    %small= "(#{param_string})"

  = "ID: #{@run.id}"
  %br
    data directory:
  %div{style: "margin-left: 20px;"}
    = @run.dir

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-results", "data-toggle" => "tab"} Results
    %li
      %a{"href"=>"#tab-list-analyses", "data-toggle" => "tab"} Analyses

  %div.tab-content
    %div.tab-pane#tab-about
      = render "about"
    %div.tab-pane.active#tab-results
      - if @run.error_messages
        %h3 Error messages
        %pre~ @run.error_messages
      = render "results"
    %div.tab-pane#tab-list-analyses
      = render "analyses", run: @run

