= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@analysis_run)}

.page-header
  %h1 AnalysisRun

%table.table.table-condensed
  %thead
  %tbody
    %tr
      %th ID
      %td= @analysis_run.to_param
    %tr
      %th Status
      %td= @analysis_run.status
    %tr
      %th Directory
      %td= @analysis_run.dir
    %tr
      %th Analyzer
      - azr = @analysis_run.analyzer
      %td= link_to(azr.name, simulator_analyzer_path(azr.simulator, azr))
    %tr
      %th Elapsed Real Time
      %td= @analysis_run.real_time
    %tr
      %th Elapsed CPU Time
      %td= @analysis_run.cpu_time

- unless @analysis_run.parameters.empty?
  = render partial: "shared/parameters_table", locals: {parameters_hash: @analysis_run.parameters}

= render partial: "shared/results", locals: {result: @analysis_run.result, result_paths: @analysis_run.result_paths}
