.page-header
  %h2
    = "Update the Oacis setting"
= form_with model: @oacis_setting, class: 'form-horizontal wide-tooltip', builder: ApplicationFormBuilder do |f|
  = render partial: 'shared/error_messages', locals: {error_messages: @oacis_setting.errors.full_messages}
  .form-group
    = f.label_c :notification_level
    .col-md-2
      = f.select :notification_level, [1, 2, 3], {}, class: 'form-control', data: tooltip_data(:oacis_setting, :notification_level)
  .form-group
    = f.label_c :webhook_url
    .col-md-5
      = f.text_field :webhook_url, class: 'form-control', data: tooltip_data(:oacis_setting, :webhook_url)
  .form-group
    .col-md-2.col-md-offset-2
      = f.submit(class: 'btn btn-primary')
