%h3 Filter
%form
  .form-inline
    .form-group
      - severity_level = {"all" => -10, "FATAL" => 3, "ERROR" => 2, "WARN" => 1, "INFO" => 0, "DEBUG" => -1}
      = select_tag 'severity', options_for_select(severity_level, selected:@level), id:'sever_sel', class:'form-control'
      &thinsp;
      %label duration:
      = text_field_tag(:'duration_start', @tstart, size:10, class:'form-control')
      \~
      = text_field_tag(:'duration_end', @tend, size:10, class:'form-control')
      &thinsp;
      %label Message includes
      = search_field_tag('match_keyword', @kwd, class:'form-control')
      &thinsp;
      = submit_tag "Apply"

