= render partial: 'shared/analyses', locals: {parameter_set: parameter_set}


- sim = parameter_set.simulator
- azrs = sim.analyzers_on_parameter_set
- unless OACIS_READ_ONLY or azrs.empty?
  %h3 Create Analysis
  - anl = parameter_set.analyses.build
  = form_for( anl, :url => parameter_set_analyses_path(parameter_set), html: {class: 'form-horizontal'}, remote: true ) do |f|
    .form-group
      = f.label :analyzer, class: 'col-md-2 control-label'
      .col-md-3
        = f.select :analyzer, azrs.map { |x| [x.name, x.to_param] }, {}, {class: 'form-control', id: 'analysis_form_analyzer'}
    %div#analysis_parameters_form
      = render 'analyses/parameters_form', analyzer: azrs.first
    .form-group
      .col-md-2.col-md-offset-2
        = f.submit "Analyze", :class => 'btn btn-primary'
#analyses_list_modal.modal.large.fade
  .modal-dialog.modal-vertical-centered
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal"}
          &times;
        %h4.modal-title
      .modal-body.large#analyses_list_modal_page
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
          Close

:javascript
  $(function() {
    $('#analysis_form_analyzer').change(function(){
      var analyzer_id = $(this).val();
      $.get("#{_parameters_form_analyzer_path(':analyzer_id')}".replace(':analyzer_id',analyzer_id), function(data) {
        $('#analysis_parameters_form').html(data);
        $('select#analysis_submitted_to').change(function() {
          var host_id = $(this).val();
        });
      });
    });
  });
