= form_tag(simulator_parameter_sets_path(@simulator), class: 'form_horizontal') do
  = render partial: 'shared/error_messages', locals: {error_messages: @param_set.errors.full_messages}
  - @simulator.parameter_definitions.each do |pd|
    - key = pd.key
    - name = "parameters[#{key}]"
    .control-group
      = label_tag name, "#{key} (#{pd.type})", class: 'control-label'
      .controls
        - value = @param_set.v[key]
        - if pd.type == "Boolean"
          = select_tag name, options_for_select([[true,"true"],[false,"false"]], value.to_s)
        - else
          = text_field_tag name, value, class: 'text_field'
        = pd.description
  .control-group
    - name = "num_runs"
    = label_tag name, "Number of Runs", class: 'control-label'
    .controls
      = select_tag(name, options_for_select([0,1,2,3,4,5,10,20]), class: 'input-mini')
  .form-actions
    = submit_tag "Create", class: 'btn btn-primary'
    = link_to "Cancel", simulator_path(@simulator), :class => 'btn'
