= form_for([@param_set.simulator, @param_set], html: {class: 'form-horizontal'} ) do |f|
  = render partial: 'shared/error_messages', locals: {error_messages: @param_set.errors.full_messages}
  - @run ||= @param_set.runs.build
  = render partial: 'shared/error_messages', locals: {error_messages: @run.errors.full_messages}
  - @simulator.parameter_definitions.each do |pd|
    - key = pd.key
    - property = :"v[#{key}]"
    - value = @param_set.v[key]
    .control-group
      = label_tag(property, "#{key} (#{pd.type})", class: 'control-label')
      .controls
        - if pd.type == "Boolean"
          = select_tag( property, options_for_select([[true,"true"],[false,"false"]], selected: value))
        - else
          = text_field_tag(property, value, class: 'text_field')
        = pd.description
  .control-group
    = label_tag('num_runs', '# of Runs', class: 'control-label')
    .controls
      = select_tag('num_runs', options_for_select([0,1,2,3,4,5,10,20], selected: @num_runs))
  = fields_for @run do |builder|
    = render 'runs/fields', run: builder.object, f: builder
  .form-actions
    = submit_tag "Create", class: 'btn btn-primary'
    = link_to "Cancel", simulator_path(@simulator), :class => 'btn'
