= javascript_include_tag "plot/application"

- param_string = @param_set.v.map {|key,val| "#{key}=#{val}" }.join(', ')
%h3= "Plot on (#{param_string})"

%form
  .form-inline
    .form-group
      %label{for: 'plot-type'} Plot type
      %select#plot-type.form-control
        %option{value: 'line'} line plot
        %option{value: 'scatter'} scatter plot
        %option{value: 'figures'} figure viewer
  .form-inline
    - simulator = @param_set.simulator
    - plottable = simulator.plottable
    .form-group#line-plot-form
      - parameter_keys = @param_set.parameter_keys_having_distinct_values
      = label_tag 'x_axis_key', "X-Axis"
      = select_tag 'x_axis_key', options_for_select(parameter_keys), id: 'x_axis_key', class: 'form-control', prompt: "[Plot All]";
      = label_tag 'y_axis_key', "Y-Axis"
      = select_tag 'y_axis_key', options_for_select(plottable), id: 'y_axis_key', class: 'form-control', prompt: "[Plot All]"
      = label_tag 'series', "Series"
      = select_tag 'series', options_for_select(parameter_keys), id: 'series', class: 'form-control', include_blank: true
      %a.btn.btn-primary#add_line_plot_button Add Line Plot
    .form-group#scatter-plot-form
      - parameter_keys = simulator.parameter_definitions.map(&:key)
      = label_tag 'x_axis_key', "X-Axis"
      = select_tag 'x_axis_key', options_for_select(parameter_keys), id: 'x_axis_key', class: 'form-control'
      = label_tag 'y_axis_key', "Y-Axis"
      = select_tag 'y_axis_key', options_for_select(parameter_keys, selected: parameter_keys[1]), id: 'y_axis_key', class: 'form-control'
      = label_tag 'result', "Result"
      = select_tag 'result', options_for_select(plottable), id: 'result', class: 'form-control'
      %a.btn.btn-primary#add_scatter_plot_button Add Scatter Plot
    .form-group#figure-viewer-form
      - parameter_keys = simulator.parameter_definitions.map(&:key)
      = label_tag 'x_axis_key', "X-Axis"
      = select_tag 'x_axis_key', options_for_select(parameter_keys), id: 'x_axis_key', class: 'form-control'
      = label_tag 'y_axis_key', "Y-Axis"
      = select_tag 'y_axis_key', options_for_select(parameter_keys, selected: parameter_keys[1]), id: 'y_axis_key', class: 'form-control'
      = label_tag 'result', "Result"
      = select_tag 'result', options_for_select(simulator.figure_files), id: 'result', class: 'form-control'
      %a.btn.btn-primary#add_figure_viewer_button Add Figure Viewer
  .form-inline
    .form-group#irrelevant-params
      %label Irrelevant parameters:
      %br
      - simulator.parameter_definitions.map(&:key).each do |key|
        %label
          %input{type: 'checkbox', data: {key: key}}
            = key
%hr

#plot
  #plot-tooltip.plot-tooltip

:css
  div.plot-tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
  }

:javascript
  function show_form_for_plots() {
    if( $('#plot-type').val() == 'line' ) {
      $('#line-plot-form').show();
      $('#scatter-plot-form').hide();
      $('#figure-viewer-form').hide();
    }
    else if( $('#plot-type').val() == 'scatter' ) {
      $('#line-plot-form').hide();
      $('#scatter-plot-form').show();
      $('#figure-viewer-form').hide();
    }
    else if( $('#plot-type').val() == 'figures' ) {
      $('#line-plot-form').hide();
      $('#scatter-plot-form').hide();
      $('#figure-viewer-form').show();
    }
  }
  $(show_form_for_plots);
  $('#plot-type').change(show_form_for_plots);

  function add_line_plot(x, y, series, irrelevants) {
    var url = "#{_line_plot_parameter_set_path(@param_set)}" + ".json";
    var url_with_param = url + 
      "?x_axis_key=" + encodeURIComponent(x) +
      "&y_axis_key=" + encodeURIComponent(y) +
      "&series=" + encodeURIComponent(series) +
      "&irrelevants=" + encodeURIComponent(irrelevants);
    var ps_base_url = "#{parameter_set_path('PSID')}".replace('PSID', '');
    draw_line_plot(url_with_param, ps_base_url, "#{@param_set.id}");
  }
  $('#add_line_plot_button').on('click', function() {
    var x = $('#line-plot-form #x_axis_key').val();
    var y = $('#line-plot-form #y_axis_key').val();
    var series = $('#line-plot-form #series').val();
    var irrelevants = $('#irrelevant-params').find("input:checkbox:checked").map(function() {
      return $(this).data('key');
      }).get().join(',');

    if( x == "" ) {
      x = new Array();
      $('#x_axis_key').children('option').each(function() {
        if( $(this).val() != "" ) {
          x.push( $(this).val() );
        }
      });
    }
    else {
      x = new Array(x);
    }
    if( y == "" ) {
      y = new Array();
      $('#y_axis_key').children('option').each(function() {
        if( $(this).val() != "" ) {
          y.push( $(this).val() );
        }
      });
    }
    else {
      y = new Array(y);
    }

    x.forEach(function(xval) {
      y.forEach(function(yval) {
        add_line_plot(xval, yval, series, irrelevants);
      })
    })
  });

  function add_scatter_plot(x, y, result, irrelevants) {
    var url = "#{_scatter_plot_parameter_set_path(@param_set)}" + ".json";
    var url_with_param = url +
      "?x_axis_key=" + encodeURIComponent(x) +
      "&y_axis_key=" + encodeURIComponent(y) +
      "&result=" + encodeURIComponent(result) +
      "&irrelevants=" + encodeURIComponent(irrelevants);
    var ps_base_url = "#{parameter_set_path('PSID')}".replace('PSID', '');
    draw_scatter_plot(url_with_param, ps_base_url, "#{@param_set.id}");
  }
  $('#add_scatter_plot_button').on('click', function() {
    var x = $('#scatter-plot-form #x_axis_key').val();
    var y = $('#scatter-plot-form #y_axis_key').val();
    var result = $('#scatter-plot-form #result').val();
    var irrelevants = $('#irrelevant-params').children("input:checkbox:checked").map(function() {
      return this.id;
      }).get().join(',');

    add_scatter_plot(x, y, result, irrelevants);
  });

  function add_figure_viewer(x, y, result, irrelevants) {
    var url = "#{_figure_viewer_parameter_set_path(@param_set)}" + ".json";
    var url_with_param = url +
      "?x_axis_key=" + encodeURIComponent(x) +
      "&y_axis_key=" + encodeURIComponent(y) +
      "&result=" + encodeURIComponent(result) +
      "&irrelevants=" + encodeURIComponent(irrelevants);
    var ps_base_url = "#{parameter_set_path('PSID')}".replace('PSID', '');
    draw_figure_viewer(url_with_param, ps_base_url, "#{@param_set.id}");
  }
  $('#add_figure_viewer_button').on('click', function() {
    var x = $('#figure-viewer-form #x_axis_key').val();
    var y = $('#figure-viewer-form #y_axis_key').val();
    var result = $('#figure-viewer-form #result').val();
    var irrelevants = $('#irrelevant-params').children("input:checkbox:checked").map(function() {
      return this.id;
      }).get().join(',');

    add_figure_viewer(x, y, result, irrelevants);
  });

  function add_tooltip() {
    // in order to avoid 'position: relative' style of '.col-lg-12' tag, we put 'tooltip' before '.col-lg-12' tag
    // See http://stackoverflow.com/questions/8828387
    $('#plot-tooltip').insertBefore('.col-lg-12');
  }

  $(function() {  // parse plot parameters from URL
    add_tooltip();
    function get_query_param() {
      console.log('hoge');
      if( 1 < document.location.search.length ) {
        var query = document.location.search.substring(1);  // remove first '?'
        var parameters = query.split('&');
        var result = new Object();
        for( var i=0; i < parameters.length; i++) {
          var element = parameters[i].split('=');
          var key = decodeURIComponent(element[0]);
          var value = decodeURIComponent(element[1]);
          result[key] = value;
        }
        return result;
      }
      return null;
    }
    var qparam = get_query_param();
    if( qparam == null ) { return; }
    if( qparam['plot_type'] == 'line' ) {
      add_line_plot( qparam['x_axis'], qparam['y_axis'], qparam['series'] || '', qparam['irrelevants'] || '');
    } else if( qparam['plot_type'] == 'scatter' ) {
      add_scatter_plot( qparam['x_axis'], qparam['y_axis'], qparam['result'], qparam['irrelevants'] || '');
    } else if( qparam['plot_type'] == 'figure' ) {
      add_figure_viewer( qparam['x_axis'], qparam['y_axis'], qparam['result'], qparam['irrelevants'] || '');
    } else {
      console.log("unknown plot type");
    }
  });

