%h3 Plot

%script{charset: "utf-8", src: "http://d3js.org/d3.v3.min.js"}

%form.form-inline
  - parameter_keys = @param_set.simulator.parameter_definitions.map(&:key)
  - plottable = @param_set.simulator.plottable
  = select_tag 'x_axis_key', options_for_select(parameter_keys, selected: parameter_keys[0]), id: 'x_axis_key';
  = select_tag 'y_axis_key', options_for_select(plottable, selected: plottable[0]), id: 'y_axis_key'
  = select_tag 'series', options_for_select(parameter_keys), id: 'series', include_blank: true
  %a.btn.btn-primary#add_plot_button Add Plot

.row
  .span8#plot
    #plot-tooltip.plot-tooltip{style: "opacity: 0;"}
  .span4

:css
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

:javascript
  function update_plot() {
    var url = "#{_plot_parameter_set_path(@param_set)}" + ".json";
    var x = $('#x_axis_key').val();
    var y = $('#y_axis_key').val();
    var series = $('#series').val();
    var url_with_param = url + "?x_axis_key=" + encodeURIComponent(x) + "&y_axis_key=" + encodeURIComponent(y) + "&series=" + encodeURIComponent(series);

    var ps_base_url = "#{parameter_set_path('')}";
    draw_plot(url_with_param, ps_base_url);
  }
  $('#add_plot_button').on('click', function() {
    update_plot();
  });
