%div{style: "margin-top: 20px;"}
%table.table.table-condensed.table-hover.table-striped#runs_list{:'data-source' => "#{_runs_list_parameter_set_path(parameter_set.to_param, format: "json")}"}
  %thead
    %tr
      - RunsListDatatable.header.each do |header|
        = raw(header)
  %tbody

- if OACIS_ACCESS_LEVEL >= 1
  %h3 Create New Runs
  - run = parameter_set.runs.build(submitted_to: parameter_set.simulator.executable_on.first)
  = form_for( [parameter_set, run], html: {class: 'form-horizontal', remote: true}) do |f|
    #run_form_messages
    .form-group
      = label_tag('num_runs', '# of Runs', class: 'col-md-2 control-label')
      .col-md-3
        = select_tag('num_runs', options_for_select([1,2,3,4,5,10,20]), {class: 'form-control'})
    = render 'runs/fields', run: run, f: f
    .form-group
      .col-md-4.col-md-offset-2
        = submit_tag 'Preview', name: 'preview_button', class: 'btn', remote: true
        = f.submit(class: 'btn btn-primary')
  #script_preview_modal.modal.large.fade
    .modal-dialog.modal-vertical-centered
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal"}
            &times;
          %h4.modal-title
            Job Script Preview
        .modal-body.large#script_preview
        .modal-footer
          %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
            Close

:javascript
   $(function() {
     var id = "runs";
     const objTable = datatables_for_runs_table('#runs_list');
     const objList = $("#tab-list-runs");
     $("#tab-list-runs").setIntervalCommon(id,objTable,objList); 
   });
   $(function() {
     $('#run_check_all').prop('checked', false);
   });
