%h3 Runs
%table.table.table-condensed.table-hover.table-striped#runs_list{:'data-source' => "#{_runs_list_parameter_set_path(@param_set.to_param, format: "json")}"}
  %thead
    %tr
      - RunsListDatatable::HEADER.each do |header|
        = raw(header)
  %tbody

%h3 Create New Runs
- run = @param_set.runs.build
= form_for( [@param_set, run], html: {class: 'form-horizontal'}) do |f|
  = render 'runs/fields', run: run, f: f
  .form-actions
    = f.submit(class: 'btn btn-primary')

:javascript
  $(function() {
    var oTable = datatables_for_runs_table();
    aoRunsTables = [];
    aoRunsTables.push(oTable);
  })
