= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@param_set)}

.page-header
  %h1 Parameter Set
  %h4= @param_set.dir

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-list-runs", "data-toggle" => "tab"} Runs
    %li
      %a{"href"=>"#tab-list-analyses", "data-toggle" => "tab"} Analyses
    %li
      %a{"href"=>"#tab-plot", "data-toggle" => "tab"} Plot

  .tab-content
    .tab-pane#tab-about
      = render partial: "shared/parameters_table", locals: {parameters_hash: @param_set.v}
      = render "similar_parameter_sets_list", parameter_set: @param_set
      - unless OACIS_READ_ONLY
        = link_to("Duplicate", duplicate_parameter_set_path(@param_set), class: 'btn btn-primary')
        = link_to 'Destroy', @param_set, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-warning'
      = link_to 'Show in JSON', parameter_set_path(@param_set, format: :json), class: 'btn btn-default'

    .tab-pane.active#tab-list-runs{oacis_read_only: "#{OACIS_READ_ONLY}"}
      = render "runs", parameter_set: @param_set
    .tab-pane#tab-list-analyses
      = render "analyses", parameter_set: @param_set
    .tab-pane#tab-plot
      = render "plot", parameter_set: @param_set
