= render partial: "shared/breadcrumb", locals: {links: breadcrumb_links_for(@param_set)}

.page-header
  - param_string = @param_set.v.map {|key,val| "#{key}=#{val}" }.join(', ')
  %h1
    Parameter Set
    %small= "(#{param_string})"
  = "ID : #{@param_set.id}"
  %br
  = "data directory: #{@param_set.dir}"

%div.tabbable
  %ul.nav.nav-tabs
    %li
      %a{"href"=>"#tab-about", "data-toggle" => "tab"} About
    %li.active
      %a{"href"=>"#tab-list-runs", "data-toggle" => "tab"} Runs
    %li
      %a{"href"=>"#tab-list-analyses", "data-toggle" => "tab"} Analyses
    %li
      %a{"href"=>"#tab-plot", "data-toggle" => "tab"} Plot

  .tab-content
    .tab-pane#tab-about
      %div{style:"margin-top: 20px;"}
        - if OACIS_ACCESS_LEVEL >= 1
          = link_to("Duplicate", duplicate_parameter_set_path(@param_set), class: 'btn btn-primary')
          = link_to 'Delete', @param_set, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-warning'
        = link_to 'Show in JSON', parameter_set_path(@param_set, format: :json), class: 'btn btn-default'
      = render partial: "shared/parameters_table", locals: {parameters_hash: @param_set.v}
      = render "similar_parameter_sets_list", parameter_set: @param_set
    .tab-pane.active#tab-list-runs
      = render "runs", parameter_set: @param_set
    .tab-pane#tab-list-analyses
      = render "analyses", parameter_set: @param_set
    .tab-pane#tab-plot
      = render "plot", parameter_set: @param_set
