%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#{root_path}") OACIS
    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Simulators', simulators_path
        %li
          = link_to 'Runs', runs_path
        %li
          = link_to 'Analyses', analyses_path
        %li
          = link_to 'Hosts', hosts_path
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href:"#", 'data-toggle':"dropdown", role:"button", "aria-haspopup":"true", "aria-expanded":"false" }
            Document
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'English', "https://github.com/crest-cassia/oacis/wiki", target: '_blank'
              = link_to '日本語', "#{root_path}oacis_document/index.html", target: '_blank'
