%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('OACIS_white.svg', :class => "navbar-brand"), "#{root_path}"
    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Simulators', simulators_path
        %li
          = link_to 'Jobs', runs_path
        %li
          = link_to 'Hosts', hosts_path
        %li
          = link_to 'Logs', worker_logs_path
        %li
          = link_to 'Settings', edit_oacis_setting_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Document', 'http://crest-cassia.github.io/oacis/', target: '_blank'
        %li#notification-event-dropdown.dropdown
          = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button' do
            %span.glyphicon.glyphicon-bell(aria-hidden="true")>
            %span.badge
          %ul.dropdown-menu(role="menu")
            %ul#notification-event-list.list-group
              - if NotificationEvent.exists?
                - NotificationEvent.all.order(created_at: :desc).limit(10).each do |event|
                  = render partial: 'notification_events/notification_event', locals: { notification_event: event }
              - else
                %li#no-notification-event.list-group-item No notifications
            %p.text-center(style="margin-top: 10px")= link_to 'more...', notification_events_path
