%ul.breadcrumb
  %li
    = link_to("Simulators", simulators_path)
    %span.divider /
  %li
    = link_to(@simulator.name, simulator_path(@simulator))
    %span.divider /
  %li
    = @parameter.to_param

%h1 Parameters

%table.table.table-condensed
  %tr
    - @parameter_keys.each do |key|
      %th= key
  %tr
    - @parameter_keys.each do |key|
      %td= @parameter.sim_parameters[key]

%h2 Runs
%table.table.table-condensed
  %tr
    %th ID
    %th status
    %th job
    %th host
    %th cpu_time
    %th real_time
    %th updated_at
  - @runs.each do |run|
    %tr
      %td= link_to(run.to_param, run)
      %td= run.status
      %td= #run.job  # IMPLEMENT ME
      %td= run.hostname
      %td= run.cpu_time
      %td= run.real_time
      %td= run.updated_at
= paginate @runs

%h4 Create new runs
= form_for(@parameter.runs.build, :url => parameter_runs_path(@parameter)) do |f|
  - f.submit "Create new run", :class => 'btn btn-primary'

%h2 Results
