%ul.breadcrumb
  %li
    = link_to("Simulators", simulators_path)
    %span.divider /
  %li
    = link_to(@simulator.name, simulator_path(@simulator))

%h1 Parameters

%table.table.table-condensed
  %tr
    - @parameter_keys.each do |key|
      %th= key
  %tr
    - @parameter_keys.each do |key|
      %td= @parameter.sim_parameters[key]

%h2 Runs
%table.table.table-condensed
  %tr
    %th ID
    %th status
    %th job
    %th host
    %th cpu_time
    %th real_time
    %th updated_at
  - @parameter.runs.each do |run|
    %tr
      %td= run.to_param  # ADD A LINK
      %td= run.status
      %td= #run.job  # IMPLEMENT ME
      %td= run.hostname
      %td= run.cpu_time
      %td= run.real_time
      %td= run.updated_at

%h4 Create new jobs

%h2 Results
